<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.topMenu %>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <%= htmlWebpackPlugin.options.widgets.intro %>
    <%= htmlWebpackPlugin.options.widgets.bestOffers %>
    <%= htmlWebpackPlugin.options.widgets.features %>
    <%= htmlWebpackPlugin.options.widgets.aboutBlock %>
    <%= htmlWebpackPlugin.options.widgets.objects %>
    <%= htmlWebpackPlugin.options.widgets.popularCategories %>
    <%= htmlWebpackPlugin.options.widgets.postsBlock %>
    <%= htmlWebpackPlugin.options.widgets.brands %>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
