<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.topMenu %>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--top-page">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__link">Услуги</span>
            </div>
            <div class="head-block">
                <h2 class="title">
                    Услуги
                </h2>
            </div>
            <div class="info-list info-list--visible info-list--extended">
                <div class="info-list__wrapper mb-40">
                    <a href="#" class="article-post article-post--info">
                        <picture class="article-post__picture">
                            <img src="./assets/images/render-1.png" alt="">
                        </picture>
                        <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                    </a>
                    <a href="#" class="article-post article-post--info">
                        <picture class="article-post__picture">
                            <img src="./assets/images/render-1.png" alt="">
                        </picture>
                        <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                    </a>
                    <a href="#" class="article-post article-post--info">
                        <picture class="article-post__picture">
                            <img src="./assets/images/render-1.png" alt="">
                        </picture>
                        <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                    </a>
                    <a href="#" class="article-post article-post--info">
                        <picture class="article-post__picture">
                            <img src="./assets/images/render-1.png" alt="">
                        </picture>
                        <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                    </a>
                </div>
                <div class="pagination desktop-hidden">
                    <a href="#" class="pagination__button">Начало</a>
                    <div class="pagination__wrapper">
                        <a href="#" class="pagination__item pagination__item--pointer pagination__item--prev">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow-small"></use>
                            </svg>
                        </a>
                        <div class="pagination__list">
                            <a href="#" class="pagination__item active">1</a>
                            <a href="#" class="pagination__item">2</a>
                            <a href="#" class="pagination__item">3</a>
                            <a href="#" class="pagination__item">4</a>
                            <a href="#" class="pagination__item">5</a>
                        </div>
                        <a href="#" class="pagination__item pagination__item--pointer pagination__item--next">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow-small"></use>
                            </svg>
                        </a>
                    </div>
                    <a href="#" class="pagination__button">Конец</a>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
