.total-link {
  display: flex;
  align-items: center;
  gap: 7px;
  transition: .2s linear;

  &:hover {
    opacity: .7;
  }

  span {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $blue;

    @include r($mobile) {
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
    }
  }

  svg {
    display: flex;
    flex-shrink: 0;
    width: 6px;
    height: 6px;
  }

  &--light {
    span {
      color: $white;
    }

    svg {
      fill: $white;
      width: 40px;
      height: 40px;
    }
  }
}
