.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  color: $white;

  border-radius: 50%;
  background-color: $red-light;
}
