<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.topMenu %>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--top-page">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__link">Наши объекты</span>
            </div>
            <div class="head-block">
                <h2 class="title">Наши объекты</h2>
            </div>
            <div class="editor mb-40">
                <p>
                    На данной странице вы можете познакомиться с объектами, для строительства которых использовались
                    материалы, купленные в нашем торговом доме.
                    Здесь вы сможете оценить, как выглядят фасадный кирпич, плитка, кровля, декоративные элементы и
                    уличные покрытия на готовых объектах и принять решение о покупке того или иного материала.
                </p>
            </div>
            <div class="objects">
                <a href="#" class="article-object">
                    <h3 class="article-object__title">Благоустройство</h3>
                    <picture class="article-object__picture">
                        <img src="./assets/images/build-2.jpg" alt="">
                    </picture>
                    <div class="article-object__blur">
                        <div class="total-link total-link--light">
                        <span>
                            узнать подробнее
                        </span>
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="article-object">
                    <h3 class="article-object__title">Фасады</h3>
                    <picture class="article-object__picture">
                        <img src="./assets/images/build-1.jpg" alt="">
                    </picture>
                    <div class="article-object__blur">
                        <div class="total-link total-link--light">
                        <span>
                            узнать подробнее
                        </span>
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="article-object">
                    <h3 class="article-object__title">Вдохновение</h3>
                    <picture class="article-object__picture">
                        <img src="./assets/images/build-3.jpg" alt="">
                    </picture>
                    <div class="article-object__blur">
                        <div class="total-link total-link--light">
                        <span>
                            узнать подробнее
                        </span>
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
