<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.topMenu %>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--top-page">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__link">Регистрация</span>
            </div>
            <div class="head-block head-block--center">
                <h2 class="title">Регистрация пользователя</h2>
            </div>
            <div class="auth-block">
                <h3 class="auth-block__title">Введите данные</h3>
                <form action="#" class="auth-block__form form">
                    <fieldset class="form__wrapper">
                        <label class="form__item">
                            <input type="text" class="input input--default" placeholder="Введите имя">
                        </label>
                        <label class="form__item">
                            <input type="text" class="input input--default" placeholder="Введите фамилию">
                        </label>
                        <label class="form__item">
                            <input type="email" class="input input--default" placeholder="Введите E-mail*">
                        </label>
                        <label class="form__item">
                            <input type="text" class="input input--default" placeholder="Введите логин*">
                        </label>
                        <label class="form__item">
                            <input type="password" class="input input--default" placeholder="Придумайте пароль*">
                        </label>
                        <label class="form__item">
                            <input type="password" class="input input--default" placeholder="Повторите пароль*">
                        </label>
                        <label>
                            <span class="form__notation">*Данные обязательные для заполнения</span>
                        </label>
                    </fieldset>
                    <button class="form__button button" type="submit">
                        <span>регистрация</span>
                    </button>
                </form>
            </div>
        </div>
    </section>

</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
