<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.topMenu %>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--top-page">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <a href="#" class="breadcrumbs__link">Наши объекты</a>
                <span class="breadcrumbs__link">Фасады</span>
            </div>
            <div class="head-block">
                <h2 class="title">Фасады</h2>
            </div>
            <div class="editor mb-40">
                <p>
                    На данной странице вы можете познакомиться с объектами, для строительства которых использовались
                    материалы, купленные в нашем торговом доме.
                    Здесь вы сможете оценить, как выглядят фасадный кирпич, плитка, кровля, декоративные элементы и
                    уличные покрытия на готовых объектах и принять решение о покупке того или иного материала.
                </p>
            </div>
            <div class="pictures">
                <picture class="pictures__picture" data-fancybox="gallery" data-src="./assets/images/build-2.jpg">
                    <img src="./assets/images/build-2.jpg" alt="">
                </picture>
                <picture class="pictures__picture" data-fancybox="gallery" data-src="./assets/images/build-2.jpg">
                    <img src="./assets/images/build-2.jpg" alt="">
                </picture>
                <picture class="pictures__picture" data-fancybox="gallery" data-src="./assets/images/build-2.jpg">
                    <img src="./assets/images/build-2.jpg" alt="">
                </picture>
                <picture class="pictures__picture" data-fancybox="gallery" data-src="./assets/images/build-2.jpg">
                    <img src="./assets/images/build-2.jpg" alt="">
                </picture>
                <picture class="pictures__picture" data-fancybox="gallery" data-src="./assets/images/build-2.jpg">
                    <img src="./assets/images/build-2.jpg" alt="">
                </picture>
                <picture class="pictures__picture" data-fancybox="gallery" data-src="./assets/images/build-2.jpg">
                    <img src="./assets/images/build-2.jpg" alt="">
                </picture>
                <picture class="pictures__picture" data-fancybox="gallery" data-src="./assets/images/build-2.jpg">
                    <img src="./assets/images/build-2.jpg" alt="">
                </picture>
                <picture class="pictures__picture" data-fancybox="gallery" data-src="./assets/images/build-2.jpg">
                    <img src="./assets/images/build-2.jpg" alt="">
                </picture>
            </div>
        </div>
    </section>

</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
