<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.topMenu %>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--top-page">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__link">Партнерам</span>
            </div>
            <div class="head-block">
                <h2 class="title">партнерам</h2>
            </div>
            <div class="text-block">
                <div class="editor editor--text mb-50 mbm-30">
                    <h3>Компании</h3>
                    <p>
                        Наша компания “ТД Хатей” начала свою деятельность в 2010 году. С этого времени мы занимаемся
                        продажей высококачественных строительных материалов, среди которых: фасадная плитка и кирпич,
                        брусчатка для мощения, кровля, изоляционные материалы и элементы для систем навесного фасада.
                    </p>
                    <br>
                    <p>
                        Вся продукция, представленная у нас, поставляется от наших проверенных партнеров — ведущих
                        заводов-производителей Европы и России: King Klinker, Ströher, Wienerberger, URSA, Гидротэкс и
                        многие другие.
                    </p>
                    <br>
                    <p>
                        Если вы заинтересованы в приобретении надежного партнера с многолетним опытом работы в сфере
                        строительных материалов, то свяжитесь с нами по телефону: +7 (4012) 664-222 или напишите на
                        почту: <a href="mailto:info@hatey.ru">info@hatey.ru</a> и наши специалисты ответят на все
                        интересующие вас вопросы, а также подготовят индивидуальные условия для сотрудничества.
                    </p>
                    <br>
                    <p>
                        Мы открыты для долгосрочного сотрудничества со строителями, архитекторами, дизайнерами и
                        предлагаем выгодные условия. У нас предусмотрена расширенная система скидок и бонусов для наших
                        партнеров, благодаря чему вы сможете выгодно покупать оптом все необходимые строительные
                        материалы по сниженным ценам. При этом, от вас не потребуется каких-либо финансовых или
                        временных затрат.
                        Если вы заинтересованы в приобретении надежного партнера с многолетним опытом работы в сфере
                        строительных материалов, то свяжитесь с нами по телефону: +7 (4012) 664-222 или напишите на
                        почту: <a href="mailto:info@hatey.ru">info@hatey.ru</a> и наши специалисты ответят на все
                        интересующие вас вопросы, а также подготовят индивидуальные условия для сотрудничества.
                    </p>
                    <br>
                    <h3>Мы доверяем</h3>
                    <ul>
                        <li>
                            ведущим разработчикам BI- CRM- и другим системам для ведения бизнеса
                        </li>
                        <li>
                            автодилеру, предоставляющему транспорт и сервисное обслуживание
                        </li>
                        <li>
                            надежному хостинг-провайдеру, который никогда не подведет
                        </li>
                    </ul>
                </div>
                <div class="partners-list">
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
