.article-product {
  display: flex;
  flex-direction: column;
  padding: 20px;
  outline: 1px solid #E5E5E5;
  background-color: $white;

  @include r($mobile) {
    padding: 10px 10px 14px;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 10px;
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;

    @include r($mobile) {
      width: 100%;
    }

    img {
      @include coverFull();
      mix-blend-mode: multiply;
    }
  }

  &__tags {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include r($mobile) {
      gap: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $dark;

    @include r($mobile) {
      font-weight: 700;
      font-size: 10px;
      line-height: 16px;
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__buy {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: $gray-dark;

    @include r($mobile) {
      font-weight: 600;
      font-size: 8px;
      line-height: 100%;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__functional-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $bg;
    cursor: pointer;

    @include r($mobile) {
      width: 34px;
      height: 34px;
    }

    svg {
      display: flex;
      width: 24px;
      height: 24px;
      fill: $gray-dark;

      @include r($mobile) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__button {
    @include r($mobile) {
      padding: 7px 22px;
      span {
        display: none;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
