.article-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: $white;
  border-radius: 10px;
  border: 1px solid #D9E6EF;

  &__detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 278px;
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: $black;

    &--green {
      span {
        color: $green;
      }
    }

    &--blue {
      span {
        color: $blue;
      }
    }

    &--gray {
      color: $gray-black;
    }
  }

  &__picture {
    position: absolute;
    top: 50%;
    right: 30px;
    display: flex;
    width: 78px;
    height: 78px;
    transform: translateY(-50%);

    img {
      @include coverFull();
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: $black;
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $blue;
  }
}
