.article-cart-el {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #D9E6EF;

  @include r($mobile) {
    flex-direction: column;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  &__preview {
    display: flex;
    align-items: center;
    gap: 20px;

    @include r($mobile) {
      width: 100%;
      gap: 12px;
    }
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 6px;
    overflow: hidden;

    img {
      @include coverFull();
    }
  }

  &__info {
    max-width: 300px;
  }

  &__info,
  &__meta {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    @include r($mobile) {
      width: 100%;
    }
  }

  &__meta {
    flex-shrink: 0;
    margin: 0 auto;

    @include r($mobile) {
      margin: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $black;

    @include r($mobile) {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $gray-black;

    @include r($mobile) {
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: $black;
  }
}
