<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.topMenu %>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--top-page">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__link">Акции</span>
            </div>
            <div class="head-block">
                <h2 class="title">Акции</h2>
            </div>
            <div class="usefulInfo usefulInfo--small">
                <div class="usefulInfo__list">
                    <a href="#" class="article-post">
                        <picture class="article-post__picture">
                            <img src="./assets/images/post-2.jpg" alt="">
                        </picture>
                        <span class="article-post__info">
                            <span class="article-post__title">Акция</span>
                            <span class="article-post__text">
                                Акция до 28/02 каждую среду 1 акционный товар из наличия на<br>
                                складе
                            </span>
                        </span>
                    </a>
                    <a href="#" class="article-post">
                        <picture class="article-post__picture">
                            <img src="./assets/images/post-2.jpg" alt="">
                        </picture>
                        <span class="article-post__info">
                            <span class="article-post__title">Акция</span>
                            <span class="article-post__text">
                                Акция до 28/02 каждую среду 1 акционный товар из наличия на<br>
                                складе
                            </span>
                        </span>
                    </a>
                    <a href="#" class="article-post">
                        <picture class="article-post__picture">
                            <img src="./assets/images/post-2.jpg" alt="">
                        </picture>
                        <span class="article-post__info">
                            <span class="article-post__title">Акция</span>
                            <span class="article-post__text">
                                Акция до 28/02 каждую среду 1 акционный товар из наличия на<br>
                                складе
                            </span>
                        </span>
                    </a>
                    <a href="#" class="article-post">
                        <picture class="article-post__picture">
                            <img src="./assets/images/post-2.jpg" alt="">
                        </picture>
                        <span class="article-post__info">
                            <span class="article-post__title">Акция</span>
                            <span class="article-post__text">
                                Акция до 28/02 каждую среду 1 акционный товар из наличия на<br>
                                складе
                            </span>
                        </span>
                    </a>
                </div>
                <div class="pagination">
                    <a href="#" class="pagination__button">Начало</a>
                    <div class="pagination__wrapper">
                        <a href="#" class="pagination__item pagination__item--pointer pagination__item--prev">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow-small"></use>
                            </svg>
                        </a>
                        <div class="pagination__list">
                            <a href="#" class="pagination__item active">1</a>
                            <a href="#" class="pagination__item">2</a>
                            <a href="#" class="pagination__item">3</a>
                            <a href="#" class="pagination__item">4</a>
                            <a href="#" class="pagination__item">5</a>
                        </div>
                        <a href="#" class="pagination__item pagination__item--pointer pagination__item--next">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow-small"></use>
                            </svg>
                        </a>
                    </div>
                    <a href="#" class="pagination__button">Конец</a>
                </div>
            </div>
        </div>
    </section>

</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
