.head-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 40px;

  @include r($mobile) {
    margin-bottom: 20px;
  }

  &--mob-col {
    @include r($mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
}
