<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.topMenu %>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--top-page">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <a href="#" class="breadcrumbs__link">Полезная информация</a>
                <span class="breadcrumbs__link">Монтаж клинкерной плитки</span>
            </div>
            <div class="head-block">
                <h2 class="title">
                    Монтаж клинкерной плитки
                </h2>
            </div>
            <div class="detail-page">
                <div class="detail-page__preview">
                    <picture class="detail-page__picture">
                        <img src="./assets/images/render-1.png" alt="">
                    </picture>
                    <div class="text-block">
                        <div class="editor editor--text editor--text-bold">
                            <h3>
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола. Именно поэтому необходимо обращаться к профессионалам,
                                которые проведут качественный монтаж клинкерной плитки в Калининграде, с соблюдением
                                всех технологий.
                            </h3>
                            <br>
                            <h3>Этапы монтажа</h3>
                            <ol>
                                <li>
                                    Подготовка рабочей основы. С поверхности должны быть удалены любые покрытия,
                                    выполнена обработка от поражений грибка или следов коррозии, устранены все зазоры,
                                    трещины и поры на рабочей основе. Завершающим этапом подготовки является
                                    выравнивание поверхности — она должна быть идеально ровной.
                                </li>
                                <li>
                                    Нанесение разметки. Разметка выполняется с учетом оконных и дверных проемов, а также
                                    углов дома, при монтаже напольной плитки.
                                </li>
                                <li>
                                    Раскрой плитки. Так как клинкерная плитка хрупкий материал, применять распил нельзя.
                                    Для этой цели используется разрезание материала круглым диском, имеющим алмазное
                                    напыление.
                                </li>
                                <li>
                                    Нанесение клеевой смеси на основание.
                                </li>
                                <li>
                                    Монтаж клинкерной плитки. Перед монтажом следует определиться со способом укладки
                                    плитки: ложковая перевязка горизонтального или вертикального направления, цепная
                                    перевязка и т.д. Оформление фасада плиткой начинается с оконных и дверных проемов,
                                    так получится сократить количество подрезанных элементов. После оформления проемов
                                    приступают к отделке всего фасада, начиная с нижнего ряда.
                                </li>
                                <li>
                                    Затирка швов. Важный заключительный этап, так как от него зависит внешний вид
                                    фасада. При затирке используется способ “закладки” материала в шов, так как затирка
                                    практически не отмывается с клинкерной плитки. Для этого используют специальный
                                    строительный пистолет или применяют “полусухую” закладку.
                                </li>
                            </ol>
                        </div>
                        <button class="button">
                            <span>
                                заказать услугу
                            </span>
                        </button>
                    </div>
                </div>
                <div class="info-list info-list--extended">
                    <div class="head-block head-block--column">
                        <h2 class="title">
                            Другая полезная информация
                        </h2>
                    </div>
                    <div class="info-list__wrapper">
                        <a href="#" class="article-post article-post--info">
                            <picture class="article-post__picture">
                                <img src="./assets/images/render-1.png" alt="">
                            </picture>
                            <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                        </a>
                        <a href="#" class="article-post article-post--info">
                            <picture class="article-post__picture">
                                <img src="./assets/images/render-1.png" alt="">
                            </picture>
                            <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                        </a>
                        <a href="#" class="article-post article-post--info">
                            <picture class="article-post__picture">
                                <img src="./assets/images/render-1.png" alt="">
                            </picture>
                            <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                        </a>
                        <a href="#" class="article-post article-post--info">
                            <picture class="article-post__picture">
                                <img src="./assets/images/render-1.png" alt="">
                            </picture>
                            <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                        </a>
                    </div>
                    <div class="slider info-list__slider desktop-min-hidden" data-slider="default">
                        <div class="swiper">
                            <div class="swiper-wrapper mb-30">
                                <div class="swiper-slide">
                                    <a href="#" class="article-post article-post--info">
                                        <picture class="article-post__picture">
                                            <img src="./assets/images/render-1.png" alt="">
                                        </picture>
                                        <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-post article-post--info">
                                        <picture class="article-post__picture">
                                            <img src="./assets/images/render-1.png" alt="">
                                        </picture>
                                        <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-post article-post--info">
                                        <picture class="article-post__picture">
                                            <img src="./assets/images/render-1.png" alt="">
                                        </picture>
                                        <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-post article-post--info">
                                        <picture class="article-post__picture">
                                            <img src="./assets/images/render-1.png" alt="">
                                        </picture>
                                        <span class="article-post__info">
                            <span class="article-post__title">Монтаж клинкерной плитки</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
