.popular-categories {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: $blue;
    text-transform: uppercase;
  }

  &__element {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: $dark;
    border: 1px solid $gray;
    border-radius: 25px;
    transition: .2s linear;

    &:hover {
      color: $red-dark;
      background-color: #f8f8f8;
    }
  }
}
