<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.topMenu %>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--top-page">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <a href="#" class="breadcrumbs__link">Полезная информация</a>
                <span class="breadcrumbs__link">Монтаж клинкерной плитки</span>
            </div>
            <div class="head-block">
                <h2 class="title">
                    Клинкерная плитка в ландшафтном дизайне:<br>
                    интеграция с природным окружением
                </h2>
            </div>
            <div class="detail-page">
                <div class="detail-page__preview">
                    <picture class="detail-page__picture">
                        <img src="./assets/images/render-1.png" alt="">
                    </picture>
                    <div class="text-block">
                        <div class="editor editor--text editor--text-bold">
                            <h3>
                                Ландшафтный дизайн становится все более изысканным и функциональным, приобретая
                                уникальные черты с использованием различных материалов. Одним из них, привносящих стиль
                                и долговечность в ландшафт, является <a href="#">клинкерная плитка</a>. Она отличается
                                не только эстетикой, но и способностью гармонично сочетаться с природным окружением.
                            </h3>
                            <p>
                                Наша компания “ТД Хатей” начала свою деятельность в 2010 году. С этого времени мы
                                занимаемся продажей высококачественных строительных материалов, среди которых: фасадная
                                плитка и кирпич, брусчатка для мощения, кровля, изоляционные материалы и элементы для
                                систем навесного фасада.
                            </p>
                            <br>
                            <p>
                                Вся продукция, представленная у нас, поставляется от наших проверенных партнеров —
                                ведущих заводов-производителей Европы и России: King Klinker, Ströher, Wienerberger,
                                URSA, Гидротэкс и многие другие.
                            </p>
                            <br>
                            <p>
                                Если вы заинтересованы в приобретении надежного партнера с многолетним опытом работы в
                                сфере строительных материалов, то свяжитесь с нами по телефону: +7 (4012) 664-222 или
                                напишите на почту: <a href="mailto:info@hatey.ru">info@hatey.ru</a> и наши специалисты
                                ответят на все интересующие вас вопросы, а также подготовят индивидуальные условия для
                                сотрудничества.
                            </p>
                            <br>
                            <p>
                                Мы открыты для долгосрочного сотрудничества со строителями, архитекторами, дизайнерами и
                                предлагаем выгодные условия. У нас предусмотрена расширенная система скидок и бонусов
                                для наших партнеров, благодаря чему вы сможете выгодно покупать оптом все необходимые
                                строительные материалы по сниженным ценам. При этом, от вас не потребуется каких-либо
                                финансовых или временных затрат. Если вы заинтересованы в приобретении надежного
                                партнера с многолетним опытом работы в сфере строительных материалов, то свяжитесь с
                                нами по телефону: +7 (4012) 664-222 или напишите на почту: <a
                                href="mailto:info@hatey.ru">info@hatey.ru</a> и наши специалисты ответят на все
                                интересующие вас вопросы, а также подготовят индивидуальные условия для сотрудничества.
                            </p>
                            <br>
                            <h3>Основные характеристики клинкерной плитки для ландшафтного дизайна</h3>
                            <p>
                                Клинкер - не просто строительный материал, но и настоящий художественный инструмент,
                                который приобретает особую значимость в ландшафтном дизайне. Его уникальные
                                характеристики предоставляют дизайнерам неограниченные возможности для создания
                                эстетически привлекательных и функциональных пространств.
                            </p>
                            <br>
                            <p>
                                Одним из ключевых свойств является его прочность. Он способен выдерживать значительные
                                нагрузки и сохранять свою структуру даже при экстремальных условиях. Это особенно важно
                                в ландшафтном дизайне, где элементы подвергаются воздействию погодных условий и частому
                                использованию.
                            </p>
                            <br>
                            <p>
                                Главными аспектами является также устойчивость клинкера к влиянию воды и разнообразие
                                типов и размеров клинкерной плитки. Он может быть использован как для установления
                                строгих геометрических линий, так и для придания проекту органичной и естественной
                                формы.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info-list">
                    <div class="head-block head-block--column">
                        <h2 class="title">
                            Другая полезная информация
                        </h2>
                    </div>
                    <div class="info-list__wrapper">
                        <a href="#" class="article-post article-post--info">
                            <picture class="article-post__picture">
                                <img src="./assets/images/render-1.png" alt="">
                            </picture>
                            <span class="article-post__info">
                            <span class="article-post__title">Клинкерная плитка в ландшафтном дизайне: интеграция с природным окружением</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                        </a>
                        <a href="#" class="article-post article-post--info">
                            <picture class="article-post__picture">
                                <img src="./assets/images/render-1.png" alt="">
                            </picture>
                            <span class="article-post__info">
                            <span class="article-post__title">Клинкерная плитка в ландшафтном дизайне: интеграция с природным окружением</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                        </a>
                        <a href="#" class="article-post article-post--info">
                            <picture class="article-post__picture">
                                <img src="./assets/images/render-1.png" alt="">
                            </picture>
                            <span class="article-post__info">
                            <span class="article-post__title">Клинкерная плитка в ландшафтном дизайне: интеграция с природным окружением</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                        </a>
                    </div>
                    <div class="slider info-list__slider desktop-min-hidden" data-slider="default">
                        <div class="swiper">
                            <div class="swiper-wrapper mb-30">
                                <div class="swiper-slide">
                                    <a href="#" class="article-post article-post--info">
                                        <picture class="article-post__picture">
                                            <img src="./assets/images/render-1.png" alt="">
                                        </picture>
                                        <span class="article-post__info">
                            <span class="article-post__title">Клинкерная плитка в ландшафтном дизайне: интеграция с природным окружением</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-post article-post--info">
                                        <picture class="article-post__picture">
                                            <img src="./assets/images/render-1.png" alt="">
                                        </picture>
                                        <span class="article-post__info">
                            <span class="article-post__title">Клинкерная плитка в ландшафтном дизайне: интеграция с природным окружением</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-post article-post--info">
                                        <picture class="article-post__picture">
                                            <img src="./assets/images/render-1.png" alt="">
                                        </picture>
                                        <span class="article-post__info">
                            <span class="article-post__title">Клинкерная плитка в ландшафтном дизайне: интеграция с природным окружением</span>
                            <span class="article-post__text">
                                Укладка клинкерной плитки непростая задача, как может показаться на первый взгляд.
                                Неправильная технология укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола укладки может испортить поверхность и привести к отслаиванию
                                плитки от фасада или пола
                            </span>
                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
