.product-detail {
  &__preview {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: $white;
    border: 1px solid #D9E6EF;
    border-radius: 10px;

    @include r($mobile) {
      gap: 10px;
      padding: 20px;
    }
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 420px;
    border-radius: 6px;
    background-color: #F7F7F7;
    overflow: hidden;

    @include r($mobile) {
      height: 200px;
    }

    img {
      @include coverFull();
    }

    &--small {
      height: 100px;

      @include r($mobile) {
        height: auto;
        max-height: 100px;
        aspect-ratio: 1/1;
      }
    }
  }

  &__top {
    position: relative;
  }

  &__tags {
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 2;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;

    @include r($mobile) {
      gap: 10px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid #D9E6EF;

    @include r($mobile) {
      padding: 20px;
    }

    &--small {
      padding: 30px 40px;

      @include r($mobile) {
        padding: 20px;
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    @include r($mobile) {
      gap: 20px;
    }
  }

  &__info-block {
    display: none;

    &.active {
      display: flex;
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: $black;

    @include r($mobile) {
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      color: $gray-black;

      &:last-child {
        color: $black;
      }
    }

    div {
      display: flex;
      flex-grow: 1;
      border-bottom: 1px dashed #D9E6EF;
    }
  }
}
