.intro {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 60px;

  @include r($mobile) {
    gap: 20px;
    padding-bottom: 40px;
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;

    @include r($mobile) {
      height: 240px;
    }

    img {
      @include coverFull();
    }
  }
}
