<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
<%= htmlWebpackPlugin.options.widgets.topMenu %>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--top-page">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__link">Производители</span>
            </div>
            <div class="head-block">
                <h2 class="title">Производители</h2>
            </div>
            <div class="text-block">
                <div class="partners-list">
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                    <a href="#" class="partners-list__link">
                        <picture class="partners-list__picture">
                            <img src="./assets/images/brand-2.png" alt="">
                        </picture>
                    </a>
                </div>
                <div class="editor editor--text">
                    <h3>Компании</h3>
                    <p>
                        Мы работаем с ведущими заводами-производителями как отечественного, так и европейского рынка.
                        Благодаря долгосрочным контрактам, мы доставляем строительные материалы от производителей в
                        Калининград напрямую без посредников — это позволяет обеспечить широкий ассортимент продукции,
                        быструю доставку и выгодные цены на все виды строительных материалов.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
